---
import services  from '../../services';

const { slug } = Astro.params;
const service = services.find((s) => s.slug === slug);
---

<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{service?.title || 'Service Not Found'}</title>
  <meta name="description" content={service?.metaDescription || 'Service not found'}>
</head>
<body>
  {service ? (
    <>
      <h1>{service.title}</h1>
      <p>{service.description}</p>
      <p>{service.metaDescription}</p>
    </>
  ) : (
    <p>Service not found</p>
  )}
</body>
</html>