---
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
---

<!-- Back to top -->
<a
    href="#"
    onclick="topFunction()"
    id="back-to-top"
    class="back-to-top fixed bottom-5 right-5 z-10 hidden h-9 w-9 rounded-full bg-indigo-600 text-center text-lg leading-9 text-white"
>
    <i class="uil uil-arrow-up"></i>
</a>
<!-- Back to top -->
