---
import { site } from '../../data';
import CallMe from '../CallMe';
---

<!-- Start Hero -->
<section class="relative items-center py-36 md:py-60">
    <div class="pointer-events-none absolute left-0 top-0 z-0 h-full w-full overflow-hidden">
        <!-- <iframe src="https://player.vimeo.com/video/33955001?background=1&autoplay=1&loop=1&byline=0&title=0" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-screen h-[56.25vw] min-h-screen min-w-[177.77vw]"></iframe> -->
        <video
            autoplay
            loop
            muted
            class="absolute left-1/2 top-1/2 h-[56.25vw] min-h-screen w-screen min-w-[177.77vw] -translate-x-1/2 -translate-y-1/2"
        >
            <source src="/assets/index-hero-video.mp4" type="video/mp4" />
            скачать
            <a href="/assets/index-hero-video.mp4">видео</a>
        </video>
        <!--Note: Vimeo Embed Background Video-->

        <!--<iframe src="https://www.youtube.com/embed/JsNvHJsufhI?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-screen h-[56.25vw] min-h-screen min-w-[177.77vw]"></iframe>-->
        <!--Note: Youtube Embed Background Video-->
    </div>
    <div
        class="absolute inset-0 bg-[url('../../assets/images/map.svg')] bg-center bg-no-repeat opacity-20"
    >
    </div>
    <div class="absolute inset-0 bg-black/70"></div>

    <div class="container">
        <div class="mt-10 grid grid-cols-1 pb-8 text-center">
            <img
                src="/assets/images/logo-icon-64.png"
                class="mx-auto block animate-[spin_10s_linear_infinite]"
                alt="logo"
            />
            <h3
                class="mb-5 mt-10 text-4xl font-bold leading-normal text-white lg:text-5xl lg:leading-normal"
            >
                {site.brand}
            </h3>

            <p class="mx-auto max-w-2xl text-lg text-slate-300">
                {`${site.title} ${site.landingLong}`}
            </p>

            <CallMe client:load />
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Hero -->
