<div class="container mt-16 lg:mt-24">
    <div class="grid grid-cols-1 pb-8 text-center">
        <h3 class="mb-4 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">
            We provide Different types of office
        </h3>

        <p class="mx-auto max-w-xl text-slate-400">
            Start working with Tailwind CSS that can provide everything you need to generate
            awareness, drive traffic, connect.
        </p>
    </div><!--end grid-->
</div><!--end container-->

<div class="container-fluid">
    <div class="relative mt-8 flex justify-center">
        <div class="relative w-full">
            <div class="tiny-six-item">
                <div class="tiny-slide">
                    <div
                        class="group relative mx-2 overflow-hidden rounded-md shadow dark:shadow-gray-800"
                    >
                        <div class="relative">
                            <img
                                src="/assets/images/cowork/1.jpg"
                                class="duration-500 ease-in-out group-hover:rotate-3 group-hover:scale-110"
                                alt=""
                            />
                            <div class="absolute inset-0 bg-gradient-to-t from-black"></div>
                        </div>

                        <div class="absolute bottom-6 left-6 right-6">
                            <a
                                href=""
                                class="block text-lg font-semibold text-white/70 duration-500 ease-in-out hover:text-white"
                            >
                                Private Office
                            </a>
                            <span class="block text-white/60">Co-space</span>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div
                        class="group relative mx-2 overflow-hidden rounded-md shadow dark:shadow-gray-800"
                    >
                        <div class="relative">
                            <img
                                src="/assets/images/cowork/2.jpg"
                                class="duration-500 ease-in-out group-hover:rotate-3 group-hover:scale-110"
                                alt=""
                            />
                            <div class="absolute inset-0 bg-gradient-to-t from-black"></div>
                        </div>

                        <div class="absolute bottom-6 left-6 right-6">
                            <a
                                href=""
                                class="block text-lg font-semibold text-white/70 duration-500 ease-in-out hover:text-white"
                            >
                                Dedicated Space
                            </a>
                            <span class="block text-white/60">Co-space</span>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div
                        class="group relative mx-2 overflow-hidden rounded-md shadow dark:shadow-gray-800"
                    >
                        <div class="relative">
                            <img
                                src="/assets/images/cowork/3.jpg"
                                class="duration-500 ease-in-out group-hover:rotate-3 group-hover:scale-110"
                                alt=""
                            />
                            <div class="absolute inset-0 bg-gradient-to-t from-black"></div>
                        </div>

                        <div class="absolute bottom-6 left-6 right-6">
                            <a
                                href=""
                                class="block text-lg font-semibold text-white/70 duration-500 ease-in-out hover:text-white"
                            >
                                Small Office
                            </a>
                            <span class="block text-white/60">Co-space</span>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div
                        class="group relative mx-2 overflow-hidden rounded-md shadow dark:shadow-gray-800"
                    >
                        <div class="relative">
                            <img
                                src="/assets/images/cowork/4.jpg"
                                class="duration-500 ease-in-out group-hover:rotate-3 group-hover:scale-110"
                                alt=""
                            />
                            <div class="absolute inset-0 bg-gradient-to-t from-black"></div>
                        </div>

                        <div class="absolute bottom-6 left-6 right-6">
                            <a
                                href=""
                                class="block text-lg font-semibold text-white/70 duration-500 ease-in-out hover:text-white"
                            >
                                Floating Seat
                            </a>
                            <span class="block text-white/60">Co-space</span>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div
                        class="group relative mx-2 overflow-hidden rounded-md shadow dark:shadow-gray-800"
                    >
                        <div class="relative">
                            <img
                                src="/assets/images/cowork/5.jpg"
                                class="duration-500 ease-in-out group-hover:rotate-3 group-hover:scale-110"
                                alt=""
                            />
                            <div class="absolute inset-0 bg-gradient-to-t from-black"></div>
                        </div>

                        <div class="absolute bottom-6 left-6 right-6">
                            <a
                                href=""
                                class="block text-lg font-semibold text-white/70 duration-500 ease-in-out hover:text-white"
                            >
                                Startups Desk
                            </a>
                            <span class="block text-white/60">Co-space</span>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div
                        class="group relative mx-2 overflow-hidden rounded-md shadow dark:shadow-gray-800"
                    >
                        <div class="relative">
                            <img
                                src="/assets/images/cowork/6.jpg"
                                class="duration-500 ease-in-out group-hover:rotate-3 group-hover:scale-110"
                                alt=""
                            />
                            <div class="absolute inset-0 bg-gradient-to-t from-black"></div>
                        </div>

                        <div class="absolute bottom-6 left-6 right-6">
                            <a
                                href=""
                                class="block text-lg font-semibold text-white/70 duration-500 ease-in-out hover:text-white"
                            >
                                Retail Space
                            </a>
                            <span class="block text-white/60">Co-space</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end flex-->
</div><!--end container-->
